:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    font-family: var(--main-font);
    color: var(--primary-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* COMPONENTS */

.title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* END COMPONENTS */

/* HEADER */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-part {
    color: var(--accent-color);
}

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.auth-nav-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.auth-nav-item-link:hover,
.auth-nav-item-link:focus {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

/* END HEADER */

/* HERO */

.hero {
    background-color: #2F303A;
}

.head-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
}

/* END HERO */

/* SECTION 1  */

.features-subtitle {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* END SECTION 1  */

/* SECTION 3 */

.team {
    background-color: #F5F4FA;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
}

.team-description {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* END SECTION 3*/

/* PORTFOLIO PAGE */

.btn {
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.title-exemple {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.description-exemple {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* END PORTFOLIO PAGE */

/* FOOTER */

footer {
    background-color: #2F303A;
}

footer .logo {
    color: #FFFFFF;
}

.head-address {
    font-style: normal;
}

.map-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* END FOOTER */